<h1>لیست محصولات</h1>

<div>
    <table class="tbl" style="width:100%; border-collapse: collapse;">
    <tr>
        <th>کد محصول</th>
        <th>عنوان محصول</th>
    </tr>
    <tr *ngFor="let brand of brands">
        <td class="tbl" style="text-align: center;"> {{ brand.brandCode }} </td>
        <td class="tbl" style="text-align: center;"> {{ brand.brandName }} </td>
    </tr>
    </table>
    
</div>
<hr>
    <mat-table #table [dataSource]="brands" class="mat-elevation-z8">
    
        <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
            <mat-header-cell *matHeaderCellDef> {{column.value}}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[column.id]}}</mat-cell>
        </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>